.Product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 480px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}
.Product_rating {
  display: flex;
}
.Product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.Product > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.Product_price {
  margin-top: 5px;
}
.Product_info {
  height: 100px;
  margin-bottom: 15px;
}
